<!-- - - - - - - - -  - - - - - - Navbar - - - - - - - - - - - - - - - - - - -->

<nav class="uk-navbar-container-default" uk-navbar style="z-index: 980;" uk-sticky="bottom">

  <!--  - - - - - - This is a button toggling the off-canvas  - - - - - - - --->
  <button uk-toggle="target: #offcanvas" uk-icon="icon: menu"></button>
  <h1 id="navLogo">Gather</h1>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href=""></a></li>
      <li class="uk-parent"><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>

  <!-- - - - - - - - - - - This is the off-canvas - - - - - - - - - - - - - -  -->
  <div id="offcanvas" uk-offcanvas="flip: true" style->
    <div class="uk-offcanvas-bar ">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
        <span id="homeIcon"></span>
        {{!-- <li class="uk-active"><a href="#" uk-icon="home">Home</a></li>
        <li class="uk-parent"> --}}
        <li class="uk-active"><a href="#" uk-icon="pencil">Create Gathering</a></li>
        <li class="uk-parent">
          <a href="#Survey">survey</a>
        <li class="uk-active"><a href="#blur" uk-icon="search">Search Gathering</a></li>
        <li class="uk-parent">
          <a href="#blur">search</a>
          <ul class="uk-nav-sub">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="uk-active"><a href="#team" uk-icon="world">Web Developers</a></li>
        <li class="uk-parent">
          <a href="#team">bio</a>
          <ul class="uk-nav-sub">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="welcome" class=" uk-height-viewport uk-background-fixed uk-background-cover  uk-background-center-left uk-overflow-hidden uk-light uk-flex uk-flex-middle uk-text-bold"
  uk-parallax="viewport: 0.5;" style="background-image: url('image/gather3.jpeg');">
  <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 id="landingpage" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.3;" "uk-text-bold uk-text-large">
      <h1 id="eventname" style="color:black">{{eventData.event}}</h1>
      <h2 style="color:black" id="hostname" class="hostName" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.3;"> <strong>Hosted by: {{eventData.name}}</strong></h2>
  </div>
</div>
</div>
<!-- - - - - - - -  - - - - - - Section 2/ event info - - - - - - - - - - - -->
<div id="eventContainer" class="uk-height-viewport uk-background-cover uk-background-fixed  uk-overflow-hidden uk-flex uk-flex-top" style="background-color: rgb(187, 199, 199);">
  <div id="eventInfo">
    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="target: #test-filter; blur: 0,10;">
      <h1 id="aboutEvent" class="uk-text-center"> About This Event</h1>
      <p class="uk-text-center uk-text-large" id="description">{{eventData.description}}</p>

{{!-- <div class="uk-child-width-1-2@m uk-grid-match" uk-grid> --}}
  <div>
    <div id="eventInfoContainer" class="uk-card uk-card-default uk-text-center uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
    <div class="uk-section uk-section-default uk-preserve-color">
    <div class="uk-container">
      <div class="uk-panel uk-dark uk-margin-medium">
        <h2>Date</h2>
          <ul id="date">{{eventData.date}}</ul>
        <h2>Time</h2>
          <label for="time">Start Time:
          <ul id="time-start">{{eventData.timeStart}}</ul>
          </label>
          <label for="time">End Time:
          <ul id="time-end">{{eventData.timeEnd}}</ul>
          </label>
      </div>
      <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
        <div>
          <h3>Party size</h3>
            <ul id="groupsize">{{eventData.groupSize}}</ul>
        </div>
        <div>
          <h3>Party type</h3>
          <ul id="eventtype">{{eventData.eventType}}</ul>
        </div>
        <div>
          <h3>Event attire</h3>
          <ul id="eventattire">{{eventData.attire}}</ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{{!-- <div class="uk-child-width-1-1@m" uk-grid> --}}
    <div>
          <div class="uk-card-body">
            <div>
              <div id="eventInfoContainer" class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <h2 class="uk-card-title">Location<span uk-icon="location"></span></h2>
                <ul id="address">{{eventData.address}}</ul>
                <ul id="city">{{eventData.city}}</ul>
                <ul id="state">{{eventData.state}}</ul>
                <ul id="zip">{{eventData.zip}}</ul>
              </div>
            </div>  
          </div>
    </div>

<!-- - - - - - -  - - - - - - - - -  - - Footer  - - - - - - - - - - - -->
<footer class="uk-padding-small uk-text-center">
  &copy; Copyright Team Git-It 2019
</footer>

<!-- //////////////////////Jquery and Javascript\\\\\\\\\\\\\\\\\ -->

<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
  crossorigin='anonymous'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>


<script src="js/event.js"></script>

